@page "/personnes/{PersonneId:long}/candidatures"
@using Blazorise
@using Blazorise.Components

<!--<PageTitle>@PageTitle</PageTitle>-->
<h1>Liste des candidatures de '@Personne?.Nom @Personne?.Prenom'</h1>

<a href="/personnes">&lt; Retour</a>

@if (Items == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <DataGrid TItem="CandidatureDto"
            Data="@Items"
            @bind-SelectedRow="@SelectedItem"
            TotalItems="@TotalItems"
            EditMode="DataGridEditMode.Form"
            PageSize="30" ShowPager="true" Editable="true"
            NewItemDefaultSetter="@OnNewItemDefaultSetter"
            RowRemoving="@OnRowRemoving"
            RowInserted="@OnRowInserted"
            RowUpdated="@OnRowUpdated"
            RowRemoved="@OnRowRemoved"
            FixedHeader="true"
            Sortable
            SortMode="DataGridSortMode.Multiple"
            Responsive>
        <DataGridCommandColumn>
            <NewCommandTemplate>
                <Icon Name="IconName.Add" Clicked="@context.Clicked" Margin="Margin.Is3.FromEnd" />
            </NewCommandTemplate>
            <EditCommandTemplate>
                <Icon Name="IconName.Edit" Clicked="@context.Clicked" Margin="Margin.Is3.FromEnd" />
            </EditCommandTemplate>
            <DeleteCommandTemplate>
                <Icon Name="IconName.Delete" Clicked="@context.Clicked" Margin="Margin.Is3.FromEnd" />
            </DeleteCommandTemplate>
        </DataGridCommandColumn>
        <DataGridColumn Field="@nameof(CandidatureDto.DateCandidature)" Caption="Date de candidature" Editable Sortable></DataGridColumn>
        <DataGridColumn Field="@nameof(CandidatureDto.Annotation)" Caption="Annotation" Editable>
            <EditTemplate>
                <MemoEdit Rows="5"
                    Text="@((string)context.CellValue)"
                    TextChanged="@(e => ((CellEditContext)context).CellValue = e)"
                ></MemoEdit>
            </EditTemplate>
        </DataGridColumn>
        <DataGridColumn Field="@nameof(CandidatureDto.Metier)" Caption="Metier" Editable>
            <DisplayTemplate>
                @{
                    var metierId = (context as CandidatureDto)?.MetierId;
                    @(Metiers.FirstOrDefault(x => x.Id == metierId)?.DefaultLibelle)
                }
            </DisplayTemplate>
            <EditTemplate>
                <SelectList TItem="ListeItemDto"
                    TValue="long"
                    Data="@Metiers"
                    TextField="@((item) => item != null ? item.DefaultLibelle : "")"
                    ValueField="@((item) => item != null ? item.Id : 0)"
                    SelectedValue="@(
                        ((ListeItemDto)((CellEditContext)context).CellValue) != null ? 
                        ((ListeItemDto)((CellEditContext)context).CellValue).Id :
                        0
                    )"
                    SelectedValueChanged="@(e => 
                    {
                        long metierId = (long)Convert.ToDouble(e);
                        if (((CellEditContext)context).CellValue == null) {
                            ((CellEditContext)context).CellValue = new ListeItemDto();
                        }
                        ((ListeItemDto)((CellEditContext)context).CellValue).Id = metierId;
                        context.Item.MetierId = metierId;
                        context.Item.Metier = Metiers.FirstOrDefault(x => x.Id == metierId);
                    })"
                     /> <!-- DefaultItemText="Choisir un métier" -->
            </EditTemplate>
        </DataGridColumn>
    </DataGrid>
}
