@page "/personnes/{PersonneId:long}/candidatures"
@using Blazorise

<!--<PageTitle>@PageTitle</PageTitle>-->
<h1>Liste des candidatures de '@Personne?.Nom @Personne?.Prenom'</h1>

<a href="/personnes">&lt; Retour</a>

@if (Items == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <DataGrid TItem="CandidatureDto"
            Data="@Items"
            @bind-SelectedRow="@SelectedItem"
            TotalItems="@TotalItems"
            EditMode="DataGridEditMode.Form"
            PageSize="30" ShowPager="true" Editable="true"
            NewItemDefaultSetter="@OnNewItemDefaultSetter"
            RowInserted="@OnRowInserted"
            RowUpdated="@OnRowUpdated"
            RowRemoved="@OnRowRemoved"
            FixedHeader="true"
            Sortable
            SortMode="DataGridSortMode.Multiple"
            Responsive>
        <DataGridCommandColumn>
            <NewCommandTemplate>
                <Icon Name="IconName.Add" Clicked="@context.Clicked" Margin="Margin.Is3.FromEnd" />
            </NewCommandTemplate>
            <EditCommandTemplate>
                <Icon Name="IconName.Edit" Clicked="@context.Clicked" Margin="Margin.Is3.FromEnd" />
            </EditCommandTemplate>
            <DeleteCommandTemplate>
                <Icon Name="IconName.Delete" Clicked="@context.Clicked" Margin="Margin.Is3.FromEnd" />
            </DeleteCommandTemplate>
        </DataGridCommandColumn>
        <DataGridColumn Field="@nameof(CandidatureDto.DateCandidature)" Caption="Date de candidature" Editable Sortable></DataGridColumn>
        <DataGridColumn Field="@nameof(CandidatureDto.Annotation)" Caption="Annotation" Editable>
            <EditTemplate>
                <MemoEdit Rows="5" Text="@((string)context.CellValue)">@((string)context.CellValue)</MemoEdit>
            </EditTemplate>
        </DataGridColumn>
    </DataGrid>
}
