@page "/personnes"

<PageTitle>@PageTitle</PageTitle>

@if (personnes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <!--
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Date naissance</th>
            </tr>
        </thead>
        <tbody>
            @* @foreach (var personneDto in personnes)
            {
                <tr>
                    <td>@personneDto.Nom</td>
                    <td>@personneDto.Prenom</td>
                    <td>@personneDto.DateNaissance</td>
                </tr>
            } *@
        </tbody>
    </table>
    -->
}
<DataGrid TItem="PersonneDto"
          Data="@personnes"
          @bind-SelectedRow="@selectedPersonne"
          Responsive>
    <DataGridCommandColumn Caption="Action" />
    <DataGridNumericColumn Field="@nameof(PersonneDto.Nom)" Caption="Nom" Editable></DataGridNumericColumn>
    <DataGridNumericColumn Field="@nameof(PersonneDto.Prenom)" Caption="Prénom" Editable></DataGridNumericColumn>
    <DataGridNumericColumn Field="@nameof(PersonneDto.DateNaissance)" Caption="Date de naissance" Editable>
        <DisplayTemplate>
        @{
            var date = ( context as PersonneDto )?.DateNaissance;

            if ( date != null )
            {
                @($"{date.Value.ToShortDateString()} | Age: {( DateTime.Now.Year - date.Value.Year )}")
            }
        }
        </DisplayTemplate>
    </DataGridNumericColumn>
    <DataGridNumericColumn Field="@nameof(PersonneDto.Email)" Caption="Email" Editable></DataGridNumericColumn>
</DataGrid>
