@page "/personnes"
@using Blazorise

<PageTitle>@PageTitle</PageTitle>

@if (personnes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <DataGrid TItem="PersonneDto"
            Data="@personnes"
            @bind-SelectedRow="@selectedPersonne"
            ReadData="@OnReadData"
            TotalItems="@totalPersonnes"
            EditMode="DataGridEditMode.Popup"
            PageSize="30" ShowPager="true" Editable="true"
            NewItemDefaultSetter="@OnNewItemDefaultSetter"
            RowInserted="@OnRowInserted"
            RowUpdated="@OnRowUpdated"
            RowRemoved="@OnRowRemoved"
            FixedHeader="true"
            Responsive>
        <DataGridCommandColumn>
            <NewCommandTemplate>
                <Icon Name="IconName.Add" Clicked="@context.Clicked" Margin="Margin.Is3.FromEnd" />
            </NewCommandTemplate>
            <EditCommandTemplate>
                <Icon Name="IconName.Edit" Clicked="@context.Clicked" Margin="Margin.Is3.FromEnd" />
            </EditCommandTemplate>
            <DeleteCommandTemplate>
                <Icon Name="IconName.Delete" Clicked="@context.Clicked" Margin="Margin.Is3.FromEnd" />
            </DeleteCommandTemplate>
        </DataGridCommandColumn>
        <DataGridNumericColumn Field="@nameof(PersonneDto.Nom)" Caption="Nom" Editable Sortable></DataGridNumericColumn>
        <DataGridNumericColumn Field="@nameof(PersonneDto.Prenom)" Caption="Prénom" Editable Sortable></DataGridNumericColumn>
        <DataGridNumericColumn Field="@nameof(PersonneDto.DateNaissance)" Caption="Date de naissance" Editable>
            <DisplayTemplate>
            @{
                var date = ( context as PersonneDto )?.DateNaissance;

                if ( date != null )
                {
                    @($"{date.Value.ToShortDateString()} | Age: {( DateTime.Now.Year - date.Value.Year )}")
                }
            }
            </DisplayTemplate>
        </DataGridNumericColumn>
        <DataGridNumericColumn Field="@nameof(PersonneDto.Email)" Caption="Email" Editable></DataGridNumericColumn>
    </DataGrid>
}