@page "/personnes"
@using Blazorise

<!--<PageTitle>@PageTitle</PageTitle>-->
<h1>Liste des candidats</h1>

@if (Items == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <DataGrid TItem="PersonneDto"
            Data="@Items"
            @bind-SelectedRow="@SelectedRow"
            TotalItems="@TotalItems"
            EditMode="DataGridEditMode.Form"
            PageSize="50" ShowPager="true" Editable="true"
            NewItemDefaultSetter="@OnNewItemDefaultSetter"
            RowInserted="@OnRowInserted"
            RowUpdated="@OnRowUpdated"
            RowRemoving="@OnRowRemoving"
            RowRemoved="@OnRowRemoved"
            RowContextMenu="@OnRowContextMenu"
            RowContextMenuPreventDefault="true"
            FixedHeader="true"
            Filterable="true"
            Sortable="true"
            SortMode="DataGridSortMode.Multiple"
            Responsive>
        <DataGridCommandColumn>
            <NewCommandTemplate>
                <Icon Name="IconName.Add" Clicked="@context.Clicked" Margin="Margin.Is3.FromEnd" />
            </NewCommandTemplate>
            <EditCommandTemplate>
                <Icon Name="IconName.Edit" Clicked="@context.Clicked" Margin="Margin.Is3.FromEnd" />
                <!--<Button Type="ButtonType.Link"  @(()=>OnClickedEditAdresse(context.Id)) To="@adresseToLink" >Adresse</Button> -->
            </EditCommandTemplate>
            <DeleteCommandTemplate>
                <Icon Name="IconName.Delete" Clicked="@context.Clicked" Margin="Margin.Is3.FromEnd" />
            </DeleteCommandTemplate>
        </DataGridCommandColumn>
        <DataGridColumn Field="@nameof(PersonneDto.Nom)" Caption="Nom" Editable Sortable></DataGridColumn>
        <DataGridColumn Field="@nameof(PersonneDto.Prenom)" Caption="Prénom" Editable Sortable></DataGridColumn>
        <DataGridDateColumn Field="@nameof(PersonneDto.DateNaissance)" Caption="Date de naissance" Editable Displayable="false">
            <DisplayTemplate>
            @{
                var date = ( context as PersonneDto )?.DateNaissance;

                if ( date != null )
                {
                    @($"{date.Value.ToShortDateString()} | Age: {( DateTime.Now.Year - date.Value.Year )}")
                }
            }
            </DisplayTemplate>
        </DataGridDateColumn>
        <DataGridColumn Field="@nameof(PersonneDto.Email)" Caption="Email" Editable></DataGridColumn>
        <DataGridColumn Field="@nameof(PersonneDto.Tel)" Caption="Tél" Editable></DataGridColumn>
        <DataGridColumn Caption="Actions">
            <DisplayTemplate>
                @{
                    var personneId = (context as PersonneDto)?.Id;
                    string urlToAdresse = personneId != null ? $"/personnes/{personneId}/adresses" : "";
                    string urlToCandidature = personneId != null ? $"/personnes/{personneId}/candidatures" : "";
                    string urlToCv = personneId != null ? $"/personnes/{personneId}/cvs" : "";
                    <a href="@urlToAdresse" title="Adresses" alt="Adresses"><Icon Name="IconName.Mail" Margin="Margin.Is3.FromEnd" /></a>
                    <a href="@urlToCandidature" title="Candidatures" alt="Candidatures"><Icon Name="IconName.Archive" Margin="Margin.Is3.FromEnd" /></a>
                    <a href="@urlToCv" title="CV" alt="CV"><Icon Name="IconName.FilePdf" Margin="Margin.Is3.FromEnd" /></a>
                }
            </DisplayTemplate>
        </DataGridColumn>
    </DataGrid>

    @if (ShowContextMenu)
    {
        <Div Position="Position.Fixed" Background="Background.Danger" Style="@($"left:{ContextMenuPos.X}px;top:{ContextMenuPos.Y}px;")">
            <ListGroup>
                <ListGroupItem Clicked="@(()=>OnContextAdresseEditClicked(ContextMenuPersonne))">
                    <Icon Name="IconName.Edit" TextColor="TextColor.Secondary" /> Adresse
                </ListGroupItem>
                <ListGroupItem Clicked="@(()=>OnContextCandidatureEditClicked(ContextMenuPersonne))">
                    <Icon Name="IconName.Delete" TextColor="TextColor.Danger" /> Candidature
                </ListGroupItem>
            </ListGroup>
        </Div>
    }
}
